body, h1, h2, p, ul, li, a{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Nunito", Helvetica, sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

.info-bg{
    background-color: rgb(12, 12, 173);
    padding: .5em;
}

.info{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}

.info a{
    color: white;
}

.menu-bg{
    background-color: rgb(76, 76, 252);
}

.menu{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu a{
    color:white;
}

.menu-logo{
   font-size: 2.25em;
   font-weight: bold;
   margin: 10pz;

}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a{
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.menu-nav a:hover{
    color: rgb(12, 12, 173);
}

.introducao{
    font-size: 3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}

.sobre{
    border-top: 2px solid rgb(76, 76, 252);
    border-bottom: 2px solid rgb(76, 76, 252);
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}

.sobre-info{
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobre-info h1{
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p{
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}

.sobre-img{
    flex: 1 1 160px;
    margin: 0 10px;
}

.produtos{
    max-width: 960px;
    margin: 60px auto;
}

.produtos h1{
    font-size: 3em;
    margin: 0px 10px 60px 10px;
}

.produtos-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.produtos-item{
    flex: 1 1 175px;
    margin: 10px;

}

.produtos-item h2{
    font-size:3em ;
    color: #a4a4a4;
    font-weight: bold;
    background-color: #a4a4a421;
    padding: 60px 0 60px 18px ;
}

.purple{
    border-top: solid 10px rgb(195, 77, 250);
}

.pink{
    border-top: solid 10px rgb(248, 66, 151);
}

.blue{
    border-top: solid 10px rgb(66, 221, 248);
}

.preco{
    background-color: #f7f7f7;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.preco-item{
    flex: 1 1 260px;
    border: 4px solid white;
    padding: 20px;
    margin: 10px;
}

.preco-item h2{
    font-size: 3em;
    color: #a4a4a4;
    text-align: center;
    margin-top: 20px;
}

.preco-item span{
    max-width: 300px;
    margin: 20px auto;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 5px 0;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    font-size: 3em;
}

.preco-item sup{
    font-size: 1.5rem;
}

.preco-item ul{
   max-width: 300px;
   margin: 20px auto;
   font-size: 1.25em;
   font-style: italic;
   color: #7c7c7c;
}

.preco-item li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.preco-item li::after{
    content: '';
    display:block;
    width: 6px;
    height: 6px;
    background-color: #2c70ff;
    border-radius: 50%;
}

.preco-item a{
    max-width: 300px;
    display: block;
    margin: 20px auto;
    color: black;
    font-weight: bold;
    font-size:2.25em ;
    border: 4px solid;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width:800px){
    .preco{
        padding: 0px 10px 0px 10px;
    }
}

.qualidade{
    max-width: 960px;
   margin: 60px auto;
   display: flex;
   flex-wrap: wrap;
}

.qualidade-item{
    flex: 1 1 300px;
    margin: 20px 10px;
}

.qualidade-item h2{
    font-size: 2.25em ;
    color: #a4a4a4;
    margin-bottom: 20px;
}

.qualidade-item h2::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 30px;
    margin-right: 10px;
}

.qualidade-item:nth-of-type(3n+1) h2::before{
    background-color: #ae81ff;
}

.qualidade-item:nth-of-type(3n+2) h2::before{
    background-color: #f9265e;
}

.qualidade-item:nth-of-type(3n+3) h2::before{
    background-color: #66d9eb;
}

.qualidade-item p{
    font-size: 1.25em;
    line-height: 1.4;
    color: #7c7c7c;
}

.newsletter{
    background: #f7f7f7;
    padding: 60px calc((100% - 960px) / 2);
    display: flex;
    flex-wrap: wrap;
}

.newsletter-info{
    flex: 1 1 260px;
    margin: 0 10px;
}

.newsletter-info h1{
    font-size: 3em;
    color: #a4a4a4;
}

.newsletter-info p{
    font-size: 1.25em;
    font-style: italic;
    max-width: 230px;
    color: #7c7c7c;
    margin-bottom: 10px;
}

.newsletter-form{
    flex: 2 1 260px;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.newsletter-form input{
    flex: 3 1 200px;
    font-size: 1.25em;
    color: #7c7c7c;
    font-style: italic;
    border: 4px solid #2c70ff;
    background: transparent;
    padding: 15px 10px;
    margin: 0;
    border-radius: 0px;
}

.newsletter-form button{
    flex: 1 1 200px;
    font-size: 2.25em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #2c70ff;
    color: white;
    margin: 0;
    cursor: pointer;
    border: 0;
    padding: 15px 10px;
}

.footer{
    height: 200px;
    display: flex;
    background: #2c70ff;
    align-items: center;
}

.footer p{
    flex: 1;
    text-align: center;
    font-size: 2.25em;
    color: #122ab2;
}

@media (max-width:600px){
    .newsletter-form button{
        font-size: 1.5em;
    }
}


